<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display fw-bold">SEYAHAT ETMEK İÇİN DOĞRU ADRESTESİNİZ</h1>
        <p class="col-md-8 fs-4">Dünyanın dört bir köşesine ulaşabileceğiniz TravelApp Yurt Dışı Tur alternatifleriyle farklı kültürleri keşfederken, unutulmaz anlar yaşayacaksınız. </p>
        <a class="mt-1 mb-9 btn btn-warning" asp-controller="Travel"
                    asp-action="Details">Şimdi seyahat et</a>
    </div>
</div>